.identity-section{
    background-color: rgba(184, 226, 255, 0.35);
    font-family: 'Noto Sans';
    padding-bottom: 0.3125rem;
}
.identity-section__content{
    display: flex;
    flex-direction: column;
    & > *{
        flex-basis: 100%;
    }
}
.identity-section__block{
    text-align: center;
}
.identity-section__block:first-child{
    margin-bottom: 1.875rem;
}
.identity-section__block__content{
    width: 70%;
    max-width: 22.5rem;
    margin: 0 auto;
}
.identity-section__block__title{
    font-weight: 600;
    font-size: 1.875rem;
    color: $purple1;
    line-height: 2.5625rem;
    margin-bottom: 0.6875rem;
}
.identity-section__block__description{
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: $greyText;
}
@media(min-width : 768px){
    .identity-section__content{
        flex-direction: row;
    }
    .identity-section__block:first-child{
        margin-bottom: 0;
    }
}
@media(min-width : 992px){
    // .identity-section{
    //     padding: 20px 0;
    // }
}