.profile{
    &__block{
        &:last-child{
            margin-top: 3.125rem;
        }
    }
    &__logo{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        line-height: 8.5rem;
        color: white;
        background: #77B2E8;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 3.75rem 0 0;
        width: 6.25rem;
        height: 6.25rem;
        min-width: 6.25rem;
        font-size: 3.125rem;
    }
    &__greeting{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 4.0625rem;
        color: $primary;
    }
    &__description{
        font-size: 1rem;
        line-height: 1.3125rem;
        color: $greyText;
    }
    &__card{
        background-color: $purple1;
        border-radius: 0.3125rem;
        padding: 0.625rem 0.9375rem;
        // min-width: max-content;
        // width: 70%;
        // max-width: 250px;
        color: white;
        margin-bottom: 0.625rem;
        cursor: pointer;
        
        &:hover{
            background-color: darken($color: $purple1, $amount: 5);
        }
        &:nth-child(2n){
            background-color: $primary;
            &:hover{
                background-color: darken($color: $primary, $amount: 5);
            }
        }
        &__name{
            font-weight: bold;
            font-size: 1rem;
        }

        &__status{
            font-size: 0.875rem;
        }
    }

    &__calendar, &__pending{
        &__title{
            font-size: 26px;
            color: #434343;
        }
    }
    
    &__pending{
        &__list{
            padding-top: 0.75rem;
            min-width: max-content;
            width: 40%;
            max-width: 250px;
        }
    }
}
@media(min-width : 400px){
    
}
@media(min-width : 768px){
    .profile{
        &__logo{
            min-width: 12.5rem;
            width: 12.5rem;
            height: 12.5rem;
            font-size: 6.25rem;
        }
        &__greeting{
            font-size: 3rem;
        }
        &__description{
            font-size: 1.125rem;
        }

        &__calendar, &__pending{
            &__list{
                width: 70%;
            }
            &__title{
                font-size: 30px;
            }
        }
    }
}
@media(min-width : 992px){
    .profile{
        &__block{
            &:first-child{
                display: flex;
                align-items: center;
                font-size: 6.25rem;
            }

            &:last-child{
                display: grid;
                grid-template-columns: 7fr 3fr;
                column-gap: 3.125rem;
            }
        }
    }
}
.ant-dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 3px;
    overflow: hidden;
}
.calendar-item{
    border-left: 3.5px solid $purple1;
    background-color: lighten($color: $blue, $amount: 25);
    &:hover{
        background-color: lighten($color: $blue, $amount: 20);
    }
}