.main-section__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    padding: 70px 0;
}
.main-section__title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.01em;
    color: $blue;
    margin-bottom: 25px;
}
.main-section__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: $grey1;
    margin-bottom: 34px;
}



.step-section__container{
    padding: 40px 0;
}
.step-section__container .title-section{
    color: #8396D6;
    margin-bottom: 28px;
}
.steps-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // column-gap: 20px;
}
.step-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-number__group{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.step-block:last-child .step-number__group{
    align-items: flex-start;
}
.step-number__line{
    width: 100%;
    height: 4px;
    background-color: $primary;
}
.step-block:first-child .step-number__line,
.step-block:last-child .step-number__line{
    width: 50%;
}
.step-block__number{
    position: absolute;
    left: calc(50% - 30px);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: white;
    background-color: $primary;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-block__title{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: $blue;
    height: 80px;
}
.step-block__description{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $grey1;
    padding: 0 10px;
}



.article-section__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 180px);
    column-gap: 20px;
    row-gap: 20px;
    padding: 50px 0;
}
.article-section .title-section{
    grid-column: 1;
}
.article-section__link{
    grid-column: 4;
    align-self: center;
    justify-self: end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 123.44%;
    color: $primary;
}
.article-block{
    grid-column: span 2;
    border: 0.2px solid #D3D3D3;
    border-radius: 10px;
    overflow: hidden;
}
.article-block:not(.outstanding){
    display: flex;
}
.article-block.outstanding{
    grid-row: span 2;
}
.article-block__image{
    height: 100%;
    width: 280px;
    max-width: 100%;
}
.outstanding .article-block__image{
    height: 260px;
    width: 100%;
    // margin-bottom: 17px;
}
.article-block__content{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.outstanding .article-block__content{
    justify-content: space-between;
}
.article-block__title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: $greyText;
    margin-bottom: 8px;
}
.outstanding .article-block__title{
    font-size: 30px;
    // margin-bottom: 8px;
}
.article-block__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-size: 16px;
    line-height: 123.44%;
    letter-spacing: 0.02em;
    color: $grey1;
}