footer{
    background-color: #98AFBA;
}
.footer-content{
    background: rgba(28, 107, 176, 0.81);
}
.footer-content .center-content{
    padding: 1.25rem 0;
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__logo{
    width: 50px;
}
.footer-info{
    margin-top: 1.25rem;
    width: 100%;
    display: flex;
}
.info-group,
.contact-group{
    // margin-top: 10px;
    flex-basis: 100%;
    // grid-column: span 4;
}
.info-group{
    // margin-top: 30px;
}
.info-group{
    display: flex;
    flex-direction: column;
}
.info-group__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: white;
    margin-bottom: 0.125rem;
}
.info-group__title,
.contact-group__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: white;
    margin-bottom: 0.375rem;
}
.contact-group{
    display: flex;
    flex-direction: column;
}
.contact-group__whatsapp{
    display: flex;
    align-items: center;
}
.contact-group__whatsapp img{
    margin-right: 0.625rem;
}
.contact-group__whatsapp__number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: white;
}
.contact-group__media{
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 0.625rem;
}
.contact-group__media a{
    margin-right: 1.125rem;
}
.copyright-container{
    text-align: center;
}
.copyright-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: white;
    padding: 0.625rem 0;
}
@media (min-width : 576px){
    .footer-content .center-content{
        // grid-template-columns: repeat(3,1fr);
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-info{
        margin-top: 0px;
    }
    .info-group,
    .contact-group{
        margin-top: 0;
        flex-basis: 100%;
    }
    .footer-info{
        width: 60%;
    }
}
@media (min-width : 768px){
    .footer-content .center-content{
        grid-template-columns: repeat(4,1fr);
    }
    .footer__logo{
        grid-column: span 2;
        width: 60px;
    }
    .footer-info{
        width: 50%;
    }
}
@media (min-width : 992px){
    .footer-info{
        width: 50%;
    }
    .footer__logo{
        width: auto;
    }
}