nav{
    background-color: #EFFDFF;
    font-family: 'Roboto';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
nav,
.navbar-content{
    height: 60px;
}

.navbar-content__left{
    display: flex;
}
.navbar__links-container{
    display: none;
    margin-left: 70px;
}
.navbar__link,
.navbar__user__link{
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.navbar__link{
    margin-right: 20px;
    font-weight: 300;
    color: $greyText;
}
.navbar__user__link{
    font-weight: bold;
    color: $blue;
}
.navbar-content__right{
    display: flex;
    align-items: center;
}
.navbar__menu__button{
    margin-left: 20px;
}

@media(min-width : 992px){
    .navbar-content__left{
        display: flex;
    }
    nav,
    .navbar-content{
        height: 70px;
    }
    .navbar__links-container{
        display: flex;
    }
    .navbar__menu__button{
        display: none;
    }
}