*,*::before,*::after,
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.page-content{
    margin-top: 70px;
}

.center-content{
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1200px;
}
.title-section{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: $blue;
}

@media(min-width : 768px){
    .center-content{
        width: calc(100% - 60px);
    }
}
@media(min-width : 992px){
    .page-content{
        margin-top: 90px;
    }
}